<a href="https://colab.research.google.com/github/mohripan/Kaggle-Training/blob/main/HeartWithStats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mohripan/Kaggle-Training/main/Heart%20Prediction/heart.csv')
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
X = df.drop('target', axis=1).values
y = df['target'].values

In [7]:
X.shape

(303, 13)

In [8]:
X = np.append(np.ones((X.shape[0], 1)).astype(int), X, axis = 1)

In [46]:
X_opt = X[:, [0,2,3,8,9,10,12,13]]
X_opt

array([[1. , 1. , 3. , ..., 2.3, 0. , 1. ],
       [1. , 1. , 2. , ..., 3.5, 0. , 2. ],
       [1. , 0. , 1. , ..., 1.4, 0. , 2. ],
       ...,
       [1. , 1. , 0. , ..., 3.4, 2. , 3. ],
       [1. , 1. , 0. , ..., 1.2, 1. , 3. ],
       [1. , 0. , 1. , ..., 0. , 1. , 2. ]])

In [47]:
import statsmodels.api as sm

In [48]:
model_ols = sm.OLS(y, X_opt).fit()

In [49]:
model_ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.488
Method:                 Least Squares   F-statistic:                     42.17
Date:                Sun, 30 May 2021   Prob (F-statistic):           5.58e-41
Time:                        06:31:45   Log-Likelihood:                -113.65
No. Observations:                 303   AIC:                             243.3
Df Residuals:                     295   BIC:                             273.0
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.5365      0.180      2.977      0.003       0.182       0.891
x1            -0.1769      0.046     -3.886      0.000      -0.266      -0.087
x2             0.1093      0.022      4.919      0.000       0.066       0.153
x3             0.0035      0.001      3.423      0.001       0.001       0.006
x4            -0.1576      0.051     -3.074      0.002      -0.259      -0.057
x5            -0.0875      0.020     -4.462      0.000      -0.126      -0.049
x6            -0.1030      0.021     -4.868      0.000      -0.145      -0.061
x7            -0.1235      0.036     -3.471      0.001      -0.193      -0.053
==============================================================================
Omnibus:                        7.758   Durbin-Watson:                   1.015
Prob(Omnibus):                  0.021   Jarque-Bera (JB):                7.998
Skew:                          -0.396   Prob(JB):                       0.0183
Kurtosis:                       2.918   Cond. No.                     1.34e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.34e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X_opt, y, test_size=0.3)

In [67]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from xgboost import XGBRFClassifier
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [71]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [73]:
model = LogisticRegression()
model.fit(X_train, y_train)
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.8584905660377359
0.8021978021978022

In [75]:
from sklearn.metrics import accuracy_score

In [76]:
y_pred = model.predict(X_test)

In [77]:
accuracy_score(y_test, y_pred)

0.8021978021978022